body {
    font-family: Verdana;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-weight: 100;
    font-size: .9375rem;
}
.no__underline {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 87.5%;
    background-color: #FFFFFF;
    padding: 1rem 5.5rem;
    z-index: 1;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__h2 {
    color: #335576;
}
.header__h2--anchor {
    text-decoration: none;
    color: inherit;
}
#header__anchor--active {
    border-bottom: .1875rem solid #DB7A4E;
}
.header__ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.header__anchor {
    text-decoration: none;
    margin: 0 1rem;
    padding-bottom: .5rem;
    color: black;
}
.header__anchor:hover {
    border-bottom: .1875rem solid #DB7A4E;
}
#header__anchor--active {
    border-bottom: .1875rem solid #DB7A4E;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fefaf5;
    padding: 1rem 5.5rem 3rem 5.5rem;
}
.footer__heading2 {
    color: #335576;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer__article1 {
    color: #335576;
}
.footer__box--week {
    display: inline-flex;
    flex-direction: column;
    margin-right: 2rem;
}
.footer__paragraph {
    color: #DB7A4E;
    margin: 1rem 0;
    font-size: .75rem;
}
.footer__heading3 {
    color: #335576;
}
.footer__anchor--email {
    text-decoration: none;
}
.footer__social--images {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.footer__icon--instagram {
    height: 1.5rem;
    width: 100%;
}
.footer__icon--facebook {
    height: 1.5rem;
    width: 100%;
}
.footer__icon--twitter {
    height: 1.5rem;
    width: 100%;
}