* {
    margin: 0;
    padding: 0;
}
.section_hero {
    background-color: #fefaf5;
    display: flex;
    justify-content: space-around;
    padding: 6rem 5.5rem 4rem 5.5rem;
}
.hero_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}
.hero_text--heading1 {
    color: #335576;
    margin-bottom: 2rem;
}
.hero_text--heading3 {
    color: #335576;
    margin-bottom: 2rem;
}
.hero_div--button {
}
.hero_button {
    background-color: #DB7A4E;
    color: white;
    height: 2.5rem;
    width: 12rem;
    border-radius: 2rem;
    border: 0 solid rgba(255, 255, 255, 0.05);
    font-family: Verdana;
    font-size: .9375rem;
    font-weight: 100;
}
.hero_image {
    display: flex;
    justify-content: right;
}
.hero_image--plane {
    width: 80%;
}
.section_recommendations {
    margin: 3rem 5.5rem;
}
.recommendations_heading2 {
    color: #335576;
    margin: 2rem 0;
}
.recommendations_image_border {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.recommendations_hawaii--box {
    border: lightgray solid .0625rem;
    background-image: url(/Assets/images/Images/hawaii.jpg);
    background-size: cover;
    border-radius: .3125rem;
    height: 27rem;
    width: 18rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .2);
}
.recommendations_iceland--box {
    border: lightgray solid .0625rem;
    background-image: url(/Assets/images/Images/iceland.jpg);
    background-size: cover;
    border-radius: .3125rem;
    height: 27rem;
    width: 18rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .2);
}
.recommendations_greece--box {
    border: lightgray solid .0625rem;
    background-image: url(/Assets/images/Images/greece.jpg);
    background-size: cover;
    border-radius: .3125rem;
    height: 27rem;
    width: 18rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .2);
}
.recommendations_hawaii--text {
    color: white;
    display: flex;
    align-self: flex-end;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
}
.recommendations_iceland--text {
    color: white;
    display: flex;
    align-self: flex-end;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
}
.recommendations_greece--text {
    color: white;
    display: flex;
    align-self: flex-end;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
}
